h1 {
    text-align: center;
  }

.box {
  width: auto;

  padding: 5px;
  margin: 5px;
  text-align:  center;
}

.output {
  width:auto;
  align-content:  center;
  display: inline-block;
  text-align: center;
  margin: 10px;
  border: 3px solid black;
  font-size: 30px;
}

.images {
  width: auto;
  display: block;
  margin:auto;
  text-align: center;
}

#rock, #paper, #scissors {
  margin: 50px;
}
